.page-main
  .container
    section
      h1.page-title Сервис заказа услуг и товаров
      p.page-text Более 100 000 потенциальных исполнителей
      .btn-group
        a.btn.btn--green.btn--big(href="/") Разместить заказ
        a.btn.btn--green.btn--big(href="/performer.html") Стать исполнителем

    section.info-block
      h2.info-block__title Почему это выгодно
      .info-block__row
        .info-block__item.info-block__item--third
          .info-block__item-img
            img(src="img/svg/clock.svg" width="86" height="86" alt="")
          .info-block__item-body
            h3.info-block__item-title Экономия времени
            p.info-block__text Не надо искать самим и прозванивать компании
        .info-block__item.info-block__item--third
          .info-block__item-img
            img(src="img/svg/pig.svg" width="86" height="86" alt="")
          .info-block__item-body
            h3.info-block__item-title Экономия денег
            p.info-block__text Выбирайте лучшие предложения
        .info-block__item.info-block__item--third
          .info-block__item-img
            img(src="img/svg/phone.svg" width="86" height="86" alt="")
          .info-block__item-body
            h3.info-block__item-title Предложения в почту
            p.info-block__text Телефон только для контакта с клиентом

    section.info-block
      h2.info-block__title Как работает сервис
      .info-block__row        
        .info-block__item.info-block__item--third
          .info-block__item-img.info-block__item-img--green-bg
            img(src="img/svg/order.svg" alt="")
          .info-block__item-body.text-left
            h3.info-block__item-title 1. Разместить заказ
            p.info-block__text Подробно опишите ваш заказ, крайний срок выполнения, дюджет. Прикрепите фотографию или документ
        .info-block__item.info-block__item--third
          .info-block__item-img.info-block__item-img--green-bg
            img(src="img/svg/offer.svg" alt="")
          .info-block__item-body.text-left
            h3.info-block__item-title 2. Выберите лечшее предложение
            p.info-block__text Мы уведомим вас по e-mail о откликах компаний на ваш заказ. Вам останется только перейти на сервис и выбрать лучшее предложение
        .info-block__item.info-block__item--third
          .info-block__item-img.info-block__item-img--green-bg
            img(src="img/svg/feedback.svg" alt="")
          .info-block__item-body.text-left
            h3.info-block__item-title 3. Оставьте отзыв
            p.info-block__text После того ка сиполнитель выполнит ваш заказ &mdash; вы сможете оставить отзыв