footer.page-footer
  .container
    nav.page-footer__nav
      ul.page-footer__nav-list
        li.page-footer__nav-item
          a(href="#") Публичный договор
        li.page-footer__nav-item
          a(href="#") Добавить компанию
        li.page-footer__nav-item
          a(href="#") Эффективная реклама
        li.page-footer__nav-item
          a(href="#") Обратная связь
        li.page-footer__nav-item
          a(href="#") Карта сайта
    .page-footer__copyright
      p &copy; ООО «Каталог ТАМ БАЙ»