.page-main
  .container
    section.info-block
      h2.info-block__title Начните зарабатывать уже сегодня! 
      .info-block__row
        .info-block__item.info-block__item--third
          .info-block__item-img.info-block__item-img--green-bg
            img(src="img/svg/real-order.svg" alt="")
          .info-block__item-body.text-left
            h3.info-block__item-title 1. Получайте реальные заказы
            p.info-block__text Мы уведомим вас о новых заказах по эл. почте
        .info-block__item.info-block__item--third
          .info-block__item-img.info-block__item-img--green-bg
            img(src="img/svg/your-offer.svg" alt="")
          .info-block__item-body.text-left
            h3.info-block__item-title 2. Делайте свое предложение
            p.info-block__text Укажите стоимость и подробности выполнения заказа
        .info-block__item.info-block__item--third
          .info-block__item-img.info-block__item-img--green-bg
            img(src="img/svg/checked-order.svg" alt="")
          .info-block__item-body.text-left
            h3.info-block__item-title 3. Выполняйте заказ
            p.info-block__text Ваше предложение больше всех понравится заказчику &mdash; заказ ваш! Мы пришлем вам на e-mail контакты заказчика.

    section.info-block
      h2.info-block__title С чего начать?
      .info-block__row
        .info-block__item.info-block__item--half.info-block__item--bordered
          .info-block__item-img
            img(src="img/svg/pc.svg" alt="")
          .info-block__item-body
            h3.info-block__item-title Ваша компания есть в каталоге TAM.BY
            p.info-block__text Просто авторизуйтесь под свои аккаунтом и проверьте контакты, для уведомлений о новых заказах
        .info-block__item.info-block__item--half.info-block__item--bordered
          .info-block__item-img
            img(src="img/svg/pc-add.svg" alt="")
          .info-block__item-body
            h3.info-block__item-title Вашей копмпании нет в каталоге TAM.BY
            p.info-block__text 
              a(href="/") Добавьте компанию
              | на TAM.BY, загрузив свидетельство о регистрации компании, если вы юр.лицо, отметив виды деятельности в личном кабинете и актуальные контактные данные